<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531902350858-r67adnojm4efmhoufet1c6u7t9hkoe54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531902350858-r67adnojm4efmhoufet1c6u7t9hkoe54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531902350858-8hpmg60nkeegncd6sd415ab5vm69rdcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPjnGNNS_aiQD1dKkO6NRDgrfCRj3wmO4</string>
	<key>GCM_SENDER_ID</key>
	<string>531902350858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asiyeapp.asiye</string>
	<key>PROJECT_ID</key>
	<string>asiye-80386</string>
	<key>STORAGE_BUCKET</key>
	<string>asiye-80386.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531902350858:ios:b6ab079de4562f76e3c1f3</string>
	<key>DATABASE_URL</key>
	<string>https://asiye-80386-default-rtdb.firebaseio.com</string>
</dict>
</plist>